<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Tienda</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h1>🛍️ Mi Tienda</h1>
        <form method="POST">
            <label>USUARIO:</label>
            <input type="text" name="usuario" placeholder="admin" required>
            
            <label>CONTRASEÑA:</label>
            <input type="password" name="contrasena" placeholder="1234" required>
            
            <button type="submit" class="btn-validar">VALIDAR</button>
        </form>
        <p style="font-size:12px; margin-top:15px;">Prueba con admin / 1234</p>
    </div>
</body>
</html>